@import "tailwindcss";

@layer base {
  html {
    font-family: "Nocturn", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
}